In [1]:
import datetime as dt
import pandas as pd
import requests
import time
import urllib.request #
import re

from bs4 import BeautifulSoup
from pandas import DataFrame
from selenium.webdriver import Chrome
from selenium.webdriver.chrome.options import Options
from selenium.webdriver.common.keys import Keys

#import konlpy

In [2]:
#크롬드라이버 연결
delay=0.1
browser = Chrome()
browser.implicitly_wait(delay)
youtubename = 'zilioner83'
start_url = 'https://www.youtube.com/user/'+youtubename+'/videos'

browser.get(start_url)
browser.maximize_window()
body = browser.find_element_by_tag_name('body')#스크롤하기 위해 소스 추출
num_of_pagedowns = 20

#스크롤 다운
while num_of_pagedowns:
    body.send_keys(Keys.PAGE_DOWN)
    time.sleep(0.1)
    num_of_pagedowns -= 1

In [3]:
# 페이지 소스 받아오기
html0 = browser.page_source
html = BeautifulSoup(html0,'html.parser')

# 리스트 선언
title_list = [] #제목 리스트 생성
href_list = [] #주소 리스트 생성
viewcountmake_list = [] #조회수 크롤링 위한 리스트 생성
viewcount_list = [] #조회수 리스트 생성

# 구독자 수 저장
subsc = html.find(id="subscriber-count").text
subsc = subsc[4:]

# title 저장
for tr in html.find_all(id="video-title"):
    title = tr.get('title')
    title_list.append(title)


#href 태그 내용 저장
for tr in html.find_all(id="video-title"):
    href = tr.get('href')
    href = href[9:]
    href_list.append(href)
    

# 조회수 저장
for tr in html.find_all('span', class_="style-scope ytd-grid-video-renderer"):
    viewcount = tr.get_text('span')
    viewcountmake_list.append(viewcount)
    contents_count = len(title_list)

#구독자수, 동영상 수
print("구독자 수:",subsc, ",영상 개수:", contents_count)

구독자 수: 125만명 ,영상 개수: 270

In [4]:
intro_df = pd.DataFrame({'구분':youtubename , '구독자':subsc, '영상수':contents_count}, index = [1])
intro_df.head()

           구분    구독자  영상수
1  zilioner83  125만명  270

In [5]:
#전처리 전 title, 주소, 좋아요수 데이터프레임 생성
print(len(title_list), len(href_list), len(viewcountmake_list))
# viewcountmake_list의 경우 조회수와 등록일이 각각 생성되어 list크기가 다름 -> 데이터프레임 생성 불가

270 270 540

In [6]:
# 데이터 클리닝 작업(조회수와 등록일에서 등록일 제거)

for tr in range(0,len(viewcountmake_list),2):
    a = viewcountmake_list[tr]
    viewcount_list.append(a)

# 조회수 데이터 전처리
clean_viewcount = []
for i in viewcount_list:
    a = i[4:-2]
    amul = float(a)*10000
    clean_viewcount.append(int(amul))
print(clean_viewcount)

[250000, 350000, 460000, 430000, 420000, 410000, 320000, 370000, 490000, 1330000, 740000, 350000, 450000, 370000, 600000, 330000, 570000, 670000, 500000, 120000, 360000, 84000, 88000, 160000, 690000, 550000, 680000, 400000, 620000, 440000, 460000, 1310000, 320000, 510000, 440000, 530000, 320000, 470000, 530000, 700000, 830000, 650000, 530000, 860000, 860000, 710000, 490000, 360000, 650000, 800000, 420000, 650000, 730000, 1000000, 240000, 260000, 440000, 1130000, 450000, 670000, 1390000, 1690000, 1180000, 880000, 450000, 360000, 340000, 820000, 690000, 960000, 2470000, 1370000, 300000, 470000, 1430000, 260000, 1100000, 580000, 730000, 490000, 830000, 1000000, 780000, 380000, 170000, 510000, 200000, 520000, 550000, 370000, 600000, 400000, 350000, 3100000, 360000, 750000, 910000, 250000, 580000, 640000, 600000, 730000, 1000000, 630000, 470000, 560000, 340000, 1280000, 1190000, 43000, 1220000, 290000, 550000, 680000, 400000, 730000, 1190000, 720000, 440000, 1120000, 300000, 420000, 1020000, 540000, 470000, 670000, 560000, 1330000, 500000, 510000, 720000, 1000000, 330000, 360000, 390000, 590000, 400000, 670000, 780000, 430000, 470000, 950000, 720000, 460000, 1040000, 1220000, 390000, 700000, 290000, 900000, 310000, 260000, 520000, 330000, 850000, 680000, 380000, 740000, 250000, 360000, 1230000, 430000, 1010000, 540000, 760000, 1370000, 930000, 470000, 870000, 400000, 1190000, 430000, 200000, 380000, 180000, 420000, 290000, 720000, 1550000, 400000, 1270000, 350000, 220000, 520000, 620000, 780000, 3140000, 460000, 1020000, 1240000, 230000, 270000, 850000, 350000, 610000, 420000, 880000, 700000, 790000, 780000, 330000, 1230000, 160000, 920000, 950000, 780000, 170000, 100000, 460000, 530000, 520000, 1180000, 630000, 760000, 240000, 140000, 210000, 840000, 1090000, 510000, 800000, 370000, 1790000, 170000, 580000, 1920000, 230000, 1180000, 140000, 150000, 360000, 560000, 530000, 370000, 590000, 510000, 650000, 680000, 510000, 540000, 1130000, 2450000, 190000, 760000, 1180000, 1410000, 130000, 110000, 110000, 150000, 170000, 330000, 510000, 540000, 140000, 270000, 360000, 140000, 200000, 1160000, 450000, 700000, 640000, 1190000, 170000, 520000, 440000, 500000, 450000, 460000]

In [7]:
#title, 주소, 좋아요수 데이터프레임 생성
youtube_list = pd.DataFrame({'title':title_list, 'href':href_list, 'viewcount':clean_viewcount})
youtube_list.head()

                 title         href  viewcount
0         추억의 e스포츠 선수들  Vcdi1x-Ya94     250000
1         카레 먹방과 주식 근황  ALiqcAOWVio     350000
2               만델라 효과  Q7aA7E_WF0w     460000
3  어색, 뻘쭘, 부끄러운 순간 월드컵  T14f1ZjqLRw     430000
4    하이킥 딱히 좋아하지 않는 사람  DxtJJ_GXMFk     420000

In [8]:
youtube_list

                             title         href  viewcount
0                     추억의 e스포츠 선수들  Vcdi1x-Ya94     250000
1                     카레 먹방과 주식 근황  ALiqcAOWVio     350000
2                           만델라 효과  Q7aA7E_WF0w     460000
3              어색, 뻘쭘, 부끄러운 순간 월드컵  T14f1ZjqLRw     430000
4                하이킥 딱히 좋아하지 않는 사람  DxtJJ_GXMFk     420000
..                             ...          ...        ...
265            말로 업보 쌓다가 천적 만난 침착맨  V-LHFJlxv44     520000
266                요즘 모발 지수와 금연 상황  BRIJSYOPN8M     440000
267                쏘영이 하고 싶은 거 다 해  bVJkV7cTUlI     500000
268  (몇 년 뒤 사라질지 모르는) 쏘영이가 쓴 소설 읽기  G-xZxcgGj3k     450000
269                  연어뱃살동과 가정의 평화  vC66L54QBcM     460000

[270 rows x 3 columns]

In [9]:
#viewcount순으로 정렬
youtube_list.sort_values(by=['viewcount'], axis=0, ascending=False)

                    title         href  viewcount
186     유사과학 월드컵 (이과답답주의)  Z7_WWJEj-j8    3140000
93         음모론 & 미스터리 월드컵  qRUxCTEtKMI    3100000
70             시청자 방 훈수하기  Uepu0fO--9E    2470000
241     명품이 아닌 행복을 사는 겁니다  11X2qnHCtOY    2450000
225       루피 해적단을 반으로 줄여라  apIbXjVp8NU    1920000
..                    ...          ...        ...
247       침착맨 월드컵 몰아보기 5부  hcfGlL5thy0     110000
207           고덕천 윤슬이 예뻐서  roeQObt_pek     100000
22     삼국지5: 남만왕 맹획전 몰아보기  JxCFglyONEE      88000
21    삼국지5: 남만왕 김종수전 몰아보기  QmqI-ITLi4I      84000
109  침펄철 | 포더킹: 던전 크롤 풀버전  uiMB-Aya1ac      43000

[270 rows x 3 columns]

In [10]:
from googleapiclient.discovery import build
from googleapiclient.errors import HttpError
from oauth2client.tools import argparser

DEVELOPER_KEY = "AIzaSyC1jSOOAoW7GRl580oxOWr9j9sWeg_BXCs" #유튜브 API 키 값
YOUTUBE_API_SERVICE_NAME = "youtube"
YOUTUBE_API_VERSION = "v3"

youtube = build(YOUTUBE_API_SERVICE_NAME, YOUTUBE_API_VERSION,developerKey=DEVELOPER_KEY)

import re

ids=[]
category_id=[]
views=[]
likes=[]
dislikes=[]
comments=[]
mins =[]
seconds=[]
title=[]
upload_date=[]

for u in range(len(youtube_list)):
    request = youtube.videos().list(
        part="snippet,contentDetails,statistics",
        id=youtube_list['href'][u]
    )
    response = request.execute()
    
    if response['items']==[]:
        ids.append("-")
        views.append("-")
        likes.append("-")
        dislikes.append("-")
        comments.append("-")
        upload_date.append("-")

    else:

        title.append(response['items'][0]['snippet']['title'])
        views.append(response['items'][0]['statistics']['viewCount'])
        likes.append(response['items'][0]['statistics']['likeCount'])
        dislikes.append(response['items'][0]['statistics']['dislikeCount'])
        #comments.append(response['items'][0]['statistics']['commentCount'])    
        upload_date.append(response['items'][0]['snippet']['publishedAt']) 
        
result_df=pd.DataFrame([title,views,likes,dislikes,upload_date]).T
result_df.columns=['title','views','likes','dislikes','upload_date']

result_df[upload_date] = result_df

result_df.to_csv('YoutubeData_'+youtubename+'.csv',encoding='utf-8-sig')

ValueError: Columns must be same length as key